{
  "$schema": "https://opencode.ai/config.json",
  "instructions": ["AGENTS.md", "CLAUDE.md"],
  "permission": {
    "skill": {
      "*": "allow"
    },
    "bash": "ask",
    "edit": "allow",
    "write": "allow"
  }
}
